body{
    background-color: #041E42;
}


/*************************** EXTEND ******************/
.box{
    border: 2px solid #000;
    background-color: green;
    margin: 40px auto;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;    
}
.mybox{
    @extend .box;
    font-size: 1.3em;
}
/****************** PLACEHOLDER % *****************************/

%box2{
    border: 2px solid black;
    background-color: blue;
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    transition: 1s linear;
    &:hover{
        background-color: lightseagreen;
        transform:scale(1.3) rotate(360deg);
        border-radius: 50px;
        box-shadow:3px 3px 5px 5px black ;
    }
}

.myFirstBox{
    @extend %box2;
    font-size: 10px;
    &:hover{
        color: blue;
        font-weight:bold;
        font-size: 3rem;
    }
}
.mySecondBox{
    @extend %box2;
    font-size: 45px;
    &:hover{
        color: yellow;
        font-size: 20px;
    }
}

/*************************MIXINS*******/
@mixin baseButton($bgColor) {
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    background-color: $bgColor;
    outline: 1px solid $bgColor;
    box-shadow:0 0 10px $bgColor;
    color: white;
    border: 1px solid white;
    border-radius: 50px; 
    margin: 1.6rem;
    transition: 0.5s ease-in;
    &:hover{
        color: $bgColor;
        background: white;
        transform: rotate(-360deg) scale(1.3);
        box-shadow: none;    
    }
}

button.green{
    @include baseButton(#018749);
}
button.red{
    @include baseButton(#F40009);
}
button.blue{
    @include baseButton(#1da1f2);
}
button.coral{
    @include baseButton(#FF6347);
}
button.colorato{
    @include baseButton(#FFC72C);
}