footer{
 position: sticky;
bottom: 0;
width: 100%;
  #player {
  width: 100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
    background-color: #171717;
    *{
        color:white;
        text-decoration:none;
        font-size:0.9rem;
      }
      }
    
    /*album in corso*/
    .album-playing-container {
      flex-basis: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .album-playing-container img {
      max-width: 40px;
      margin-right: 10px;
    }
    
    .album-playing-container i {
      font-size: 16px;
    }
    
    .album-name {
      padding-right: 40px;
      display: flex;
      flex-direction: column;
    }
    
    .album-icons {
      display: flex;
      flex-direction: column;
    }
    
    .fa-heart {
      padding-right: 15px;
    }
    /*album in corso fine*/
    
    /*player controller*/
    .player-controller-container {
      flex-basis: 40%;
      margin-bottom: 0.84rem;
      display: flex;
  flex-direction: column;
  align-items: center;
    }
    
    .player-controller {
      padding: 1rem 0 1rem;
      padding-right: 5.5%;
    }
    
    .player-controller ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .progressbar-and-number {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .progress-bar {
      height: 0.25rem;
      flex-grow: 1;
      background-color: #535353;
      border-radius: 5px;
      position: relative;
    }
    
    .partial-bar {
      height: 0.25rem;
      width: 25%;
      background-color: #fff;
      border-radius: 5px;
    }
    
    .partial-bar:hover::before {
      content: '';
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      bottom: -5px;
      left: 23%;
      cursor: pointer;
    }
    
    .song-progress {
      padding-right: 1.9rem;
    }
    
    .song-duration {
      padding-left: 1.9rem;
    }
    
    .player-controller ul li {
      display: inline;
    }
    
    #player i:hover {
      color: #1dd05d;
    }
    
    .fa-random,
    .fa-step-backward,
    .fa-play-circle,
    .fa-step-forward {
      padding-right: 1.25rem;
    }
    
    .fa-random,
    .fa-step-backward,
    .fa-step-forward,
    .fa-redo-alt {
      font-size: 0.75rem;
    }
    
    .fa-play-circle {
      font-size: 24px;
    }
    /*Player Controller End*/
    
    /*Right Controller*/
    .right-controller-container {
      flex-basis: 30%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    
    .right-controller {
      display: flex;
      flex-direction: row;
    }
    
    .right-controller i {
      font-size: 12px;
    }
    
    .right-controller a {
      padding-right: 15px;
    }
    
    .right-controller-bar {
      flex-basis: 20%;
      height: 4px;
      background: #535353;
      border-radius: 2px;
      align-self: center;
      position: relative;
    }
    
    .right-controller-partial-bar {
      height: 4px;
      width: 25%;
      background-color: #fff;
      border-radius: 5px;
    }
    
    .right-controller-partial-bar:hover::before {
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      bottom: -3px;
      left: 22%;
      cursor: pointer;
    }
    
    //modifiche mia barra
    
  
    input {
      height: 0.25rem;
      appearance: none;
      width: 100%;
      margin: 2px;
      border-radius: 8px;
      transition: 0.2s ease;
      background-color: #5e5e5e;
      
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* display: none; */
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: green;
    }
    
    input[type="range"]:hover {
      background: green;
    }
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: white;
    }
    
  }