body {
    width: 90%;
    text-align: center;
    background-color: black;
    color: white;
    font-family: monospace;
}

form {
    border: 1px solid black;
    height: 5vh;
    display: flex;
    justify-content: center;
    padding: 1em;
}

label {
    font-size: 1rem;
    margin-top: 7px;
    margin-right: 10px;
}

input {
    margin-right: 2em;
    padding: 1em;
    border: 1.5px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-family: monospace;
}

input:hover {
    background-color: #348F50;
}



button {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
    padding: 0.7em 1.7em;
    text-align: center;
    transition: 0.7s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: block;
    border: none;
}

button:hover {
    background-position: right center;
}

#container{
    display: flex;
    justify-content: center;
}

table {
    display: none;
    padding: 2em;
}

td, th{
    padding: 1em 2em;
    border: 1px solid white;
}