a{
    display: none;
}
footer{
    margin: 0;
}
button{
    width: 17%;
    
    margin-top: 1rem;
    padding-left: 0.5px;
}
#chartContainer{
    
}
h1{
    margin: 0;
}
body{
    padding-bottom: 0;
}
.result p{
    text-align: right;
}
#sbagliate{
    
}
