@import 'text';
@import 'variabili';




header {
    background-color: $mainViolet;
}


.topSect {
    min-height: 50vh;
    background-image: url(../imgs/pexels-aleksandar-pasaric-325185.jpg);
    background-size: cover;
    padding-left: 2em;
    margin: 0;

    button {
        background-color: $mainViolet;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 7px;
    }

    @media screen and (min-width:768px){
        background-position-y: 40%;
    }
}


.carousel-item{
    margin-top: 3%;
    text-align: center;
    p{
        font-size: 0.8rem;
        margin: 20px 20%;
        line-height: 2em;
    }
    img{
        width: 5%;
        border-radius: 50%;
    }
    h4{
        margin-top: 15px;
        margin-bottom: 50px;
    }
}

footer{
    background-color: $mainViolet;
    color: white;
    
    ul{
        list-style: none;

        li{
            &:first-child{
                font-size: 1.3rem;
            }
        }
    }
}




